<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <th>Blog Title</th>
    <th>Date</th>
    <th>Body</th>
    <th colspan="4"></th>
  </thead>

  <tbody>
    <%= render(@blogs) %>
  </tbody>
</table>

<!-- <div id="blogs">
  <%# <% @blogs.each do |blog| %> %>
    <%# <%= render blog %> %>
    <p>
      <%# <%= link_to "Show this blog", blog %> %>
    </p>
    <div>--------------------------------</div>
  <%# <% end %> %>
</div> -->

<br>

<%= link_to "New blog", new_blog_path %>
