<div class="container portfolio_container">
  <div class="row">
    <div class="col-md-7"><%= image_tag(portfolio_img(@portfolio_item.main_image, 'main'), width: '100%') %> </div>
    <div class="col-md-5">
      <h1><%= @portfolio_item.title%></h1>
      <em> <%= @portfolio_item.subtitle%> </em>
      <p> <%= @portfolio_item.body%> </p>
      <h2>Technologies Used</h2>
      <% @portfolio_item.technologies.each do |t| %>
        <p> <%= t.name %> </p> 
      <% end %>
    </div>
  </div>
</div>




<!-- 
<%= form_for(@portfolio_item) do |f| %>
  <div class="field">
    <%= f.label :title, style: "display: block" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :subtitle, style: "display: block" %>
    <%= f.text_area :subtitle %>
  </div>

  <div class="field">
    <%= f.label :body, style: "display: block" %>
    <%= f.text_area :body %>
  </div>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %> -->
