<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">MacKenzie Jew</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <div><%= link_to("Home", root_path, class: "nav-link") %></div>
      <div><%= link_to("About Me", about_me_path, class: "nav-link") %></div>
      <div><%= link_to("Contact", contact_path, class: "nav-link") %></div>
      <div><%= link_to("Blog", blogs_path, class: "nav-link") %></div>
      <div><%= link_to("Porfolios", portfolios_path, class: "nav-link") %></div>
    </nav>
  </div>
</header>