<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>"/>

    <%= stylesheet_link_tag "blogs", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%# start of NAV %>
    <%= render("shared/blog_nav") %>
    <%# End of NAV %>

    <%# Start of overall holding CONTAINER  %>
    <main class="container">

      <p class="notice"> <%= notice %></p>
      <p class="alert"> <%= alert %> </p>

      <%# start of blog HEADER %>
      <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
          <h1 class="display-4 fst-italic">Macks Blog Page</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <%= link_to( "Write a New blog", new_blog_path) if logged_in?(:site_admin) %> 
        </div>
      </div>
      <%# end of blog HEADER %>

      <%#  %>
      <div class="row g-5">
        <%# Start of main blog list %>
        <%= yield %>
        <%# End of main blog list %>

        <%#  Start of sidebar %>
        <%= render('shared/blog_sidebar') %>
        <%#  End of sidebar %>
      </div>

      <%= source_helper("blog") %>

    </main>
    <%# End of overall holding CONTAINER  %>

  </body>

  <%# Start of footer %>
    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p class="mb-0">
        <a href="#">Back to top</a>
      </p>
    </footer>
    <%# End of footer %>
</html>
