<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>"/>

    <%= stylesheet_link_tag "blogs", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render("shared/blog_nav") %>

    <%# Start of overall holding CONTAINER  %>
    <main class="container">

      <p class="notice"> <%= notice %></p>
      <p class="alert"> <%= alert %> </p>

      <%= render('shared/blog_masthead') %>

      <div class="row g-5">
        <%# Start of main blog list %>
        <%= yield %>
        <%# End of main blog list %>

        <%= render('shared/blog_sidebar') %>
      </div>

      <%= alertsHelper() %>  

      <%= source_helper("blog") %>

    </main>
    <%# End of overall holding CONTAINER  %>

  </body>

  <%= render('shared/blog_footer') %>

</html>
