<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>"/>

    <%= stylesheet_link_tag "blogs", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%# start of NAV %>
    <div class="container">
      <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
          <a class="nav-item nav-link link-body-emphasis active" href="#">World</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">U.S.</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Technology</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Design</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Culture</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Business</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Politics</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Opinion</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Science</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Health</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Style</a>
          <a class="nav-item nav-link link-body-emphasis" href="#">Travel</a>
        </nav>
      </div>
    </div>
    <%# End of NAV %>

    <%# Start of overall holding CONTAINER  %>
    <main class="container">

      <p class="notice"> <%= notice %></p>
      <p class="alert"> <%= alert %> </p>

      <%# start of blog HEADER %>
      <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
          <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
        </div>
      </div>
      <%# end of blog HEADER %>


      <%# Start of main blog list %>
      <%= yield %>
      <%# End of main blog list %>

      <%#  Start of sidebar %>

      <%#  End of sidebar %>

      <%= login_helper() %>
      
      <%= render("shared/nav", location: 'bottom') %>

      <%= source_helper("blog") %>

    </main>
    <%# End of overall holding CONTAINER  %>

  </body>

  <%# Start of footer %>
    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p class="mb-0">
        <a href="#">Back to top</a>
      </p>
    </footer>
    <%# End of footer %>
</html>
